#Wrapper {
    zoom: .8!important;
    @media(max-width: 650px){
        zoom: .85!important;
    }
}

@media(min-width: 1240px){
    .menu_wrapper {
        height: 11rem;
        display: flex;
        align-items: center;

        #menu {
            background: transparent!important;
            ul {
                li {
                    a {
                        font-size: 1.35rem;
                    }
                }
            }
        }
    }
}

.wrap.mcb-wrap.two-fifth.column-margin-0px.valign-top.move-up.clearfix {
    @media(max-width: 960px){
        margin-top: -68px!important;
    }
    @media(max-width: 767px){
        margin-top: 2rem!important;
    }
}

.slider {
    background: black;
    @media(min-width: 1240px){
            margin-top: 3rem;
    }
    @media(max-width: 767px){
        margin-top: 4rem;
    }
    &__item {
        position: relative;
        img {
            width: 100%;
        }

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 80%;

            h2 {
                font-size: 5rem;
                text-transform: uppercase;
                line-height: 1!important;
                //text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
                //-webkit-text-fill-color: white;
                //-webkit-text-stroke-color: black;
                //-webkit-text-stroke-width: 3.00px;
                @media(max-width: 1300px){
                    font-size: 4rem;
                }
                @media(max-width: 1100px){
                    font-size: 3.4rem;
                }
                @media(max-width: 950px){
                    font-size: 3rem;
                    -webkit-text-stroke-width: 2.00px;

                }
                @media(max-width: 800px){
                    font-size: 2.5rem;
                }
                @media(max-width: 650px){
                    font-size: 2rem;
                    -webkit-text-stroke-width: 1.00px;
                }
                @media(max-width: 450px){
                    font-size: 1.5rem;
                }
            }


            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                max-width: 12rem;
                margin: 0 auto;
                @media(max-width: 650px){
                max-width: 8rem;
            }


                span {
                    @media(max-width: 650px){
                        padding: 8px 30px!important;
                    }
                }
            }
        }
    }
}


body, html {
    @media(max-width: 767px){

    }
}
#Wrapper, #Content {
    background: white url("../images/bg-body_new.png") repeat center center;
}

.articleCategoryHome {
    a {
        max-width: 80%;
        margin: 0 auto;
        @media(max-width: 992px){
            max-width: 100%;
        }
    }
}

.icon-menu-fine {
    background: black;
    padding: .5rem;
    border-radius: 10px;
    z-index: 9999;
}

.offerIndex {
    text-align: center;
    padding: 5rem 0;

    .button {
        margin: 0 auto;
    }
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        box-shadow: 2px 2px 15px -1px rgba(0,0,0,.3);
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        background: white;
        @media(max-width: 576px){
            margin: 0 4rem;
        }
        @media(max-width: 470px){
            margin: 0 2rem;
        }
        @media(max-width: 390px){
            margin: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        img {
            display: block;
            width: 100%;
            margin: 0 auto 1rem auto;
        }
    }
    &__text {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: .5rem;
        @media(max-width: 767px){
            text-align: center;
        }

        }

    &__title {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: .5rem;
        line-height: 1.2;
        @media(max-width: 576px){
            line-height: 1.1;
            font-size: 1.1rem;
        }

    }

    &__lead {
        p {
            line-height: 1.2;
            @media(max-width: 576px){
                font-size: .9rem;
            }
        }
    }

    .button {
        width: fit-content;
        margin-bottom: 0;
        @media(max-width: 767px){
            margin: 0 auto;
        }
        span.button_label {
            @media(max-width: 576px){
                padding: 5px 25px;
            }
        }
    }

    hr {
        margin-bottom: 3rem;
        height: 2px;
        &:last-child {
            display: none;
        }
    }
}
.boxShadow {

        box-shadow: 2px 2px 15px -1px #000000;

}
.offer {
    @media(max-width: 767px){
        padding-top: 15px!important;
        padding-bottom: 30px!important;
    }
    &.-black{
        h4 {
            strong {
                color: #ffffff;
            }
        }
        p {
            color: #ffffff;

            strong {
                color: #ffffff;

            }
        }
    }
    h4, p {
        font-size: 1.3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        padding-left: 22px;
        @media(max-width: 767px){
            padding-left: 0!important;
            font-size: 1.1rem;
        }
        @media(max-width: 576px){
            font-size: .9rem;
        }
    }
  p{
      line-height: 1.3;
      padding-left: 22px;
      strong {
          color: black;
          @media(max-width: 767px){
              font-size: 1rem;
          }
      }
  }
    ul {
        margin-left: 0;
        margin-bottom: 20px;
        position: relative;
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 20px;
            position: relative;
            list-style: none;
            padding-left: 50px;
            margin-left: 0;
            background: url(../images/list_check.png) no-repeat 20px 5px;
            &::after {
                content: "";
                width: 70px;
                height: 1px;
                overflow: hidden;
                background: rgba(0, 0, 0, .08);
                position: absolute;
                left: 0;
                bottom: -11px
            }
           &:last-child:after {
                display: none;
            }
        }
    }
}
.priceList {

    &__title {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1;
    }
    figure {
        margin: 0;
        @media(max-width: 767px){
            display: block;
            overflow-x: scroll;
            min-width: 100%;
        }

    tr{
        &:first-child {
            th {
                background: red;
            }
        }

        td {
            min-width: 150px;
            line-height: 1.15;
        }

        &:hover{
            color: black;
            th {
                color: black;
            }
            th {
                color: black;
            }
            p {
                color: black;

            }
            strong {
                color: black;
            }
        }

    }
        p {
            strong {
                font-size: 1rem;
            }
        }

    }
    .table {
        table {
            tr, td, strong, p {
                @media(max-width: 767px){
                    font-size: .7rem!important;
                }
                @media(max-width: 567px){
                    font-size: .6rem!important;
                }
            }
            tr, td {
                @media(max-width: 767px){
                    min-width: 95px!important;
                    padding: 4px!important;
                }
                @media(max-width: 567px){
                    min-width: 80px!important;

                }
            }
        }
    }


}
.offerCategoryFixed {
position: fixed;
    display: flex;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    align-items: center;
transition: .25s ease-in-out;
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //background-color: black;
        background: black url("../images/bg.jpg") no-repeat center center;
        background-size: cover;
        padding: .5rem 1rem;
        font-weight: 600;

        a{
            color: white;
            display: block;
            padding: .2rem 0;
            transition: .1s ease-in-out;
            text-align: center;
            &:hover {
                color: #ff0001;
            }
        }
    }

    &__showAll {
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        background-color: #ff0001;
        padding: 1.9rem .1rem;
        font-weight: 600;
        color: white;
        border-radius: 0 5px 5px 0;
        cursor: pointer;


    }
}

    .logo {
        position: static;
        transform: translateY(0);
        height: 11rem;
        display: flex;
        align-items: center;
        img {
            @media(max-width: 1239px){
                height: 84px!important;
                top: 34%;
            }
            @media(max-width: 767px){
                top: 17%;
                height: 50px!important;
            }
        }
    }

    #Top_bar.is-sticky {
        .logo {
            img {
                height: 55px!important;
                @media(max-width: 767px){
                    top: 32% !important;
                }
            }
        }
    }
.gallery {
    padding: 5rem 0;
}

#contactForm {
    input:not(#rule), textarea  {
        width: 100%;
        border-width: 2px;
        box-shadow: unset;
        resize: none;
        font-family: "Rajdhani", Arial, Tahoma, sans-serif;
        color: #9e88a8;
        background-color: rgba(255, 255, 255, 0);
        border-color: #302933;
        padding: 25px 10px;
        outline: none;
        max-width: 100%;
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
        border-style: solid;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
    }

    #rule {
        border: none;
        position: static;
        left: 0;
        top: 0;
    }

    .button {
        width: 100%;
    }
    .g-recaptcha {
        zoom: 1.3;
        >div {
            margin: 0 auto;
        }
    }


}


.alert, #alert p {
    display: none;
    text-align: center;
    line-height: 2;
    padding: 0;
    margin: 0;
    width: 100%;
    background: green;
    color: white;
    overflow: hidden;
    &.alert-success {
        display: block;
    }
}

.form-check {
    display: flex;
    p {
        font-size: 12px;
        text-align: left;
    }
}


.g-recaptcha >div{
    margin: 0 auto 1rem;
}

@media(max-width: 600px){
    .g-recaptcha {
        transform: scale(.75);
    }
}

.alert-success {
    margin-top: 1rem;
}




.form-margin {
    margin: 0 20%;
    @media(max-width: 961px){
        margin: 0 10%;
    }
    @media(max-width: 550px){
        margin: 0;
    }
}


h2 {
    @media(max-width: 370px){
        font-size: 30px;
    }
}

a h3 span {
    @media(max-width: 370px){
        font-size: 10px!important;
    }
}


.contact, #Footer  {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media(max-width: 767px){

        }
        li {
            list-style: none;
            padding: 0;
            a, span {
                @media(max-width: 767px){
                    text-align: center;
                }
                @media(max-width: 370px){
                    font-size: 12px;
                }
            }
        }
    }
}


.contactFixed {
    position: fixed;
    bottom: 1rem;
    right: 0;
    display: flex;
    flex-direction: column;

    a {
        margin: 0;
        img {
            background: #FF0001;
            padding: .1rem;
            width: 20px;
            height: 20px;

        }
    }
}

#Top_bar .menu > li ul {
    background-color: white!important;
}

.offer-list {
    margin: 0!important;
    li {
        position: relative;
        line-height: 1;
        margin-bottom: 9px!important;
        padding: 0 0 0 1rem!important;
        list-style: none!important;
        //text-shadow: 1px 1px black;

        a {
            color: white;
            font-weight: 500;
            &:hover {

            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            background: transparent url("../images/right-arrow.svg") no-repeat center center;
            background-size: contain;
        }

    }
}

    #Top_bar {
        height: 11rem;
        //background: black url("../images/bg.jpg")!important;
        background: white!important;
        @media(max-width: 1240px){
            height: 7rem;
        }
        @media(max-width: 767px){
            height: 4rem;
        }

        &.is-sticky {
            height: 6rem;
            background: black url("../images/bg.jpg");
            @media(max-width: 1240px){
                height: 4rem;
            }
            .logo {
                height: 6rem;
                padding: .5rem 0;
                @media(max-width: 1240px){
                    height: 6rem;
                }

            }

            .menu_wrapper {
                height: 6rem;
            }
        }
    }

#Top_bar .menu>li ul {
    background-color: black;
    li {
        width: 300px;
        &::before {
            display: none;
        }
        a {
            color: black;
            font-weight: 600;
            &:hover {
                color: black;
            }
        }
    }
}

#Side_slide #menu ul li ul {
    li {
        padding-left: 0!important;
        &:before {
            display: none;
        }
    }
}

.next, .prev {
    @media(max-width: 800px){
        width: 45px;
        height: 45px;
    }
    @media(max-width: 650px){
        width: 30px;
        height: 30px;
    }
}

table tr:first-child td {
    background: #ababab  !important;
}

@media(max-width: 767px){
    table tr td:first-child {
        background: #c7c7c7  !important;
    }
}

table tr td:last-child {

}

table tr:nth-child(2n) td {
    background: #f3f3f3;
}
.table {
    table {
        tr, td, strong, p {
          @media(max-width: 767px){
              font-size: .7rem!important;
          }
            @media(max-width: 567px){
                font-size: .6rem!important;
            }
        }
        tr, td {
            @media(max-width: 767px){
                min-width: 95px!important;
                padding: 4px!important;
            }
            @media(max-width: 567px){
                min-width: 80px!important;

            }
        }
    }
}

h3.item-contact {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    @media(max-width: 600px){
        font-size: 1.7rem;
    }
    @media(max-width: 420px){
        font-size: 1.5rem;
    }

&.-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    @media(max-width: 767px){
        font-size: 3rem;
    }
    @media(max-width: 576px){
        font-size: 2.4rem;
    }
    @media(max-width: 380px){
        font-size: 2.2rem;
    }
    svg {
        margin-bottom: -.4rem;
        @media(max-width: 767px){
            margin-bottom: -.3rem;
        }
    }

}
    &.-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(max-width: 768px){
            font-size: 1.5rem;
        }
        @media(max-width: 500px){
            font-size: 1rem;
        }

        svg {
            font-size: 3rem;
            @media(max-width: 767px){
                font-size: 2.5rem;
            }
            @media(max-width: 767px){
                font-size: 1.5rem;
            }
            @media(max-width: 380px){
                font-size: 1.3rem;
            }
        }
    }

    &.-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
            @media(max-width: 576px){
                font-size: 1.2rem;
            }
            @media(max-width: 380px){
                font-size: 1.3rem;
            }
        }
        svg {
            font-size: 3rem;
            margin-bottom: .5rem;
            @media(max-width: 767px){
                font-size: 2.5rem;
            }
            @media(max-width: 767px){
                font-size: 1.5rem;
            }
            @media(max-width: 380px){
                font-size: 1.3rem;
            }
        }
    }
}


.facebook-wrap {
    zoom: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 767px){
        margin-bottom: 3rem;
    }
    @media(max-width: 400px){
        display: block;
    }

    .desktop {
        @media(max-width: 768px){
            display: none;
        }
    }

    .mobile {
        display: none;

        @media(max-width: 768px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.p-no-margin{
    p {
        padding: 0;
    }
}

.contact-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    a {
        display: block;
        margin: 0 2rem;
        img {
            width: 3rem;
            @media(max-width: 767px){
                width: 2rem;
            }
        }
    }
}

.desktopFacebook {
    zoom: 1.3;
        position: fixed;
        top: 20%;
        right: -1.1rem;
        z-index: 999;
        display: flex;
    transform: translateX(97%);
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    background: #fff;
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.41);
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.41);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.41);
    border-radius: .5rem 0 0 .5rem;
    transition: .3s ease-in-out;
    @media(max-width: 767px){
        display: none;
    }
    &.-active {
        transform: translateX(0);
    }
    &__title {
        text-align: center;
        padding-right: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #FF0001;
        line-height: 1.05;
    }

    &__exit {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.2rem;
        padding: 3px 11px;
        background: transparent;
        color: #FF0001;
        border: none;
        margin: 0!important;
        box-shadow: unset!important;
        &:focus {
            border: none;
            outline: none;
        }
    }

    &__toggle {
        position: absolute;
        right: calc(100% - 112px);
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: 0 0;
        border-radius: 0 0 .5rem .5rem;
        padding: 2px 20px;
        margin: 0;
        @media(max-width: 960px){
            right: calc(100% - 100px);
        }
        &:focus {
            border: none;
            outline: none;
        }
    }


}

.headText {
    line-height: 1.1;
    font-size: 40px;
    font-style: normal;
    @media(max-width: 1240px){
        font-size: 33px;
    }
    @media(max-width: 960px){
        font-size: 25px;
    }
    @media(max-width: 767px){
        font-size: 27px;
        margin-top: 1rem;
    }
    @media(max-width: 450px){
        font-size: 26px;
    }
    @media(max-width: 400px){
        font-size: 23px;
    }
    @media(max-width: 350px){
        font-size: 20px;
    }

    span {
        display: block;
    }
}

.about-text {
    color: black;
    text-align: center;
    font-weight: 600;
    width: 80%;
    margin: 0 auto 2rem;
    font-size: 1.2rem;
    @media(max-width: 1240px){
        width: 100%;
    }
    @media(max-width: 767px){
        font-size: 1.1rem;
    }
    @media(max-width: 576px){
        font-size: 15px;
    }
}

.about-head {
    display: block;
    text-align: center;
    color: #FF0001;
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
    margin: 0 auto .5rem;
    letter-spacing: 1px;
    @media(max-width: 1240px){
        width: 100%;
    }
    @media(max-width: 767px){
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    @media(max-width: 576px){
        font-size: 18px;
    }
}

.about-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.np-mobile {
    @media(max-width: 767px){
        padding: 0!important;

        .scale-with-grid {
            display: block;
            margin: 0 auto;
        }
        h6, p {
            text-align: center;
            margin-bottom: 0;
        }

        .no_line {
            margin: 0 auto 10px!important;
        }
    }
}
.products-title {
    @media(max-width: 767px){
        text-align: center;
        display: block;
        font-size: 1.3rem;
    }
    @media(max-width: 576px){
        font-size: 1rem;
    }
}

.icon-social {
    @media(max-width: 576px){
        background-size: 50px!important;
        padding: 15px 0 15px 90px!important;
        background-position: 15px 20px!important;
    }
}

.home-details-wrap {
@media(max-width: 767px){
    padding: 0!important;
}
}

.center-mobile {
    @media(max-width: 767px){
        display: block;
        margin: 0 auto;
    }
}
.title {
    @media(max-width: 576px){
        font-size: 30px!important;
        line-height: 30px!important;
    }
}
.offer-wrap{
    @media(max-width: 767px){
        padding-top: 50px!important;
        padding-bottom: 15px!important;
    }

}

.offer-main-text {
    h2{
        font-size: 22px!important;
        line-height: 1.15!important;
        margin-bottom: 3px;
        margin-top: 1rem;
    }
}

.no-padding-mobile {
    padding-left: 0!important;
    padding-right: 0!important;
}

.priceText {
   h2 {
       @media(max-width: 767px){
           font-size: 28px!important;
           line-height: 1.1!important;
       }
       @media(max-width: 576px){
           font-size: 23px!important;
       }
   }
    p, p strong {
        @media(max-width: 767px){
            padding-left: 0!important;
            font-size: 1.1rem;
        }
        @media(max-width: 576px){
            font-size: .85rem;
        }
    }

    .table {
        table {
            tbody {
                tr, td, strong, p {
                    @media(max-width: 767px){
                        font-size: .7rem!important;
                    }
                    @media(max-width: 567px){
                        font-size: .6rem!important;
                    }
                }
                tr, td {
                    @media(max-width: 767px){
                        min-width: 95px!important;
                        padding: 4px!important;
                    }
                    @media(max-width: 567px){
                        min-width: 80px!important;

                    }
                }
            }
        }
    }

}

.contact-wrap {
    padding-bottom: 0!important;
}

.navIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        .navIcon__icon {
            transform: scale(1.1);
        }
        .navIcon__title {
            transform: translateY(50%);
            color: #FF0001;
        }
    }

    &__icon {
        width: 100px;
        margin-bottom: 1rem;
        transition: .3s ease-in-out;
        @media(max-width: 992px){
            width: 75px;
        }
    }

    &__title {
        color: #fff;
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: 1px;
        transition: .3s ease-in-out;
        @media(max-width: 767px){
            font-size: 1rem;
        }
    }
}

.navIconsWrapper {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;

    .section_wrapper.mcb-section-inner {
        @media(max-width: 767px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 2rem;
        }
        .column {

        }
    }
}

.offerCategoryOtherTitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-style: normal;
    @media(max-width: 767px){
        font-size: 1.5rem;
    }
    @media(max-width: 576px){
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}

.offerCategoryOthers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__imageWrap {
        overflow: hidden;
        border-radius: 1rem;
    }
    &__item {
        width: 25%;
        display: block;
        padding: 0 1rem;
        overflow: hidden;
        margin-bottom: 2rem;
        @media(max-width: 992px){
            width: 33%;
        }
        @media(max-width: 767px){
            width: 50%;
        }
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
        img {
            transition: .3s ease-in-out;
            transform: scale(1.1);

        }

        span {
            color: black;
            display: block;
            text-align: center;
            font-weight: 600;
            line-height: 1.1;
            text-transform: uppercase;
            margin-top: 1rem;
            @media(max-width: 567px){
                font-size: 1rem;
            }
        }
    }
}

.minimalist-header-no #Subheader {
    @media(max-width: 767px){
        padding: 140px 0 20px!important;
    }
}
.header-transparent #Top_bar .menu>li>a span {
    color: black;
}

.ytVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
