.slick-slider .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Subheader {
    background: black url("../images/bg.jpg") center center no-repeat;
    background-size: cover;
}


pre.sf-dump, pre.sf-dump .sf-dump-default {
    background: black;
}

#menu-main-menu li.link-id-6{
  display: none !important;
}


footer .city-menu ul{
    display: flex;
    flex-direction: row !important;
    column-gap: 50px;
}
footer .city-menu ul li{
    position: relative;
}
footer .city-menu ul li:not(:last-child)::before{
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: -25px;
    width: 1px;
    background: #fff;
}