#Wrapper {
  zoom: 0.8 !important;
}
@media (max-width: 650px) {
  #Wrapper {
    zoom: 0.85 !important;
  }
}
@media (min-width: 1240px) {
  .menu_wrapper {
    height: 11rem;
    display: flex;
    align-items: center;
  }
  .menu_wrapper #menu {
    background: transparent!important;
  }
  .menu_wrapper #menu ul li a {
    font-size: 1.35rem;
  }
}
@media (max-width: 960px) {
  .wrap.mcb-wrap.two-fifth.column-margin-0px.valign-top.move-up.clearfix {
    margin-top: -68px !important;
  }
}
@media (max-width: 767px) {
  .wrap.mcb-wrap.two-fifth.column-margin-0px.valign-top.move-up.clearfix {
    margin-top: 2rem!important;
  }
}
.slider {
  background: black;
}
@media (min-width: 1240px) {
  .slider {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .slider {
    margin-top: 4rem;
  }
}
.slider__item {
  position: relative;
}
.slider__item img {
  width: 100%;
}
.slider__item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.slider__item .text h2 {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1!important;
}
@media (max-width: 1300px) {
  .slider__item .text h2 {
    font-size: 4rem;
  }
}
@media (max-width: 1100px) {
  .slider__item .text h2 {
    font-size: 3.4rem;
  }
}
@media (max-width: 950px) {
  .slider__item .text h2 {
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
  }
}
@media (max-width: 800px) {
  .slider__item .text h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 650px) {
  .slider__item .text h2 {
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
  }
}
@media (max-width: 450px) {
  .slider__item .text h2 {
    font-size: 1.5rem;
  }
}
.slider__item .text a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  max-width: 12rem;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .slider__item .text a {
    max-width: 8rem;
  }
}
@media (max-width: 650px) {
  .slider__item .text a span {
    padding: 8px 30px!important;
  }
}
#Wrapper,
#Content {
  background: white url("../images/bg-body_new.png") repeat center center;
}
.articleCategoryHome a {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .articleCategoryHome a {
    max-width: 100%;
  }
}
.icon-menu-fine {
  background: black;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9999;
}
.offerIndex {
  text-align: center;
  padding: 5rem 0;
}
.offerIndex .button {
  margin: 0 auto;
}
.offerIndex__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 0.3);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}
@media (max-width: 576px) {
  .offerIndex__item {
    margin: 0 4rem;
  }
}
@media (max-width: 470px) {
  .offerIndex__item {
    margin: 0 2rem;
  }
}
@media (max-width: 390px) {
  .offerIndex__item {
    margin: 0;
  }
}
.offerIndex__item:last-child {
  margin-bottom: 0;
}
.offerIndex__image img {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
}
.offerIndex__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}
@media (max-width: 767px) {
  .offerIndex__text {
    text-align: center;
  }
}
.offerIndex__title {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
@media (max-width: 576px) {
  .offerIndex__title {
    line-height: 1.1;
    font-size: 1.1rem;
  }
}
.offerIndex__lead p {
  line-height: 1.2;
}
@media (max-width: 576px) {
  .offerIndex__lead p {
    font-size: 0.9rem;
  }
}
.offerIndex .button {
  width: fit-content;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .offerIndex .button {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .offerIndex .button span.button_label {
    padding: 5px 25px;
  }
}
.offerIndex hr {
  margin-bottom: 3rem;
  height: 2px;
}
.offerIndex hr:last-child {
  display: none;
}
.boxShadow {
  box-shadow: 2px 2px 15px -1px #000000;
}
@media (max-width: 767px) {
  .offer {
    padding-top: 15px!important;
    padding-bottom: 30px!important;
  }
}

/*FEB*/

.offer.-black + .offer.-black {
  background-color: transparent!important;
} 
.offer.-black + .offer.-black h4 strong {
  color: #000000;
}
.offer.-black + .offer.-black h2 {
  color: #000000!important;
}
.offer.-black + .offer.-black h3 {
  color: #000000!important;
}
.offer.-black + .offer.-black li {
  color: #626262!important;
}
.offer.-black + .offer.-black p {
  color: #626262;
}
.offer.-black + .offer.-black p strong {
  color: #626262;
}
.offer.-black + .offer.-black .text-center{
  text-align: left!important;
}


.offer.-black h4 strong {
  color: #ffffff;
}
.offer.-black h2 {
  color: #ffffff!important;
}
.offer.-black h3 {
  color: #ffffff!important;
}
.offer.-black li {
  color: #ffffff!important;
}
.offer.-black p {
  color: #ffffff;
}
.offer.-black p strong {
  color: #ffffff;
}

/*FEB*/
.offer h4,
.offer p {
  font-size: 1.3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-left: 22px;
}
@media (max-width: 767px) {
  .offer h4,
  .offer p {
    padding-left: 0!important;
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .offer h4,
  .offer p {
    font-size: 0.9rem;
  }
}
.offer p {
  line-height: 1.3;
  padding-left: 22px;
}
.offer p strong {
  color: black;
}
@media (max-width: 767px) {
  .offer p strong {
    font-size: 1rem;
  }
}
.offer ul {
  margin-left: 0;
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  padding-left: 0;
}
.offer ul li {
  margin-bottom: 20px;
  position: relative;
  list-style: none;
  padding-left: 50px;
  margin-left: 0;
  background: url(../images/list_check.png) no-repeat 20px 5px;
}
.offer ul li::after {
  content: "";
  width: 70px;
  height: 1px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: -11px;
}
.offer ul li:last-child:after {
  display: none;
}
.priceList__title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
.priceList figure {
  margin: 0;
}
@media (max-width: 767px) {
  .priceList figure {
    display: block;
    overflow-x: scroll;
    min-width: 100%;
  }
}
.priceList figure tr:first-child th {
  background: red;
}
.priceList figure tr td {
  min-width: 150px;
  line-height: 1.15;
}
.priceList figure tr:hover {
  color: black;
}
.priceList figure tr:hover th {
  color: black;
}
.priceList figure tr:hover th {
  color: black;
}
.priceList figure tr:hover p {
  color: black;
}
.priceList figure tr:hover strong {
  color: black;
}
.priceList figure p strong {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .priceList .table table tr,
  .priceList .table table td,
  .priceList .table table strong,
  .priceList .table table p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 567px) {
  .priceList .table table tr,
  .priceList .table table td,
  .priceList .table table strong,
  .priceList .table table p {
    font-size: 0.6rem !important;
  }
}
@media (max-width: 767px) {
  .priceList .table table tr,
  .priceList .table table td {
    min-width: 95px!important;
    padding: 4px!important;
  }
}
@media (max-width: 567px) {
  .priceList .table table tr,
  .priceList .table table td {
    min-width: 80px!important;
  }
}
.offerCategoryFixed {
  position: fixed;
  display: flex;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  align-items: center;
  transition: 0.25s ease-in-out;
}
.offerCategoryFixed__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black url("../images/bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.offerCategoryFixed__items a {
  color: white;
  display: block;
  padding: 0.2rem 0;
  transition: 0.1s ease-in-out;
  text-align: center;
}
.offerCategoryFixed__items a:hover {
  color: #ff0001;
}
.offerCategoryFixed__showAll {
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #ff0001;
  padding: 1.9rem 0.1rem;
  font-weight: 600;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.logo {
  position: static;
  transform: translateY(0);
  height: 11rem;
  display: flex;
  align-items: center;
}
@media (max-width: 1239px) {
  .logo img {
    height: 84px!important;
    top: 34%;
  }
}
@media (max-width: 767px) {
  .logo img {
    top: 17%;
    height: 50px!important;
  }
}
#Top_bar.is-sticky .logo img {
  height: 55px!important;
}
@media (max-width: 767px) {
  #Top_bar.is-sticky .logo img {
    top: 32% !important;
  }
}
.gallery {
  padding: 5rem 0;
}
#contactForm input:not(#rule),
#contactForm textarea {
  width: 100%;
  border-width: 2px;
  box-shadow: unset;
  resize: none;
  font-family: "Rajdhani", Arial, Tahoma, sans-serif;
  color: #9e88a8;
  background-color: rgba(255, 255, 255, 0);
  border-color: #302933;
  padding: 25px 10px;
  outline: none;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  border-style: solid;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
}
#contactForm #rule {
  border: none;
  position: static;
  left: 0;
  top: 0;
}
#contactForm .button {
  width: 100%;
}
#contactForm .g-recaptcha {
  zoom: 1.3;
}
#contactForm .g-recaptcha > div {
  margin: 0 auto;
}
.alert,
#alert p {
  display: none;
  text-align: center;
  line-height: 2;
  padding: 0;
  margin: 0;
  width: 100%;
  background: green;
  color: white;
  overflow: hidden;
}
.alert.alert-success,
#alert p.alert-success {
  display: block;
}
.form-check {
  display: flex;
}
.form-check p {
  font-size: 12px;
  text-align: left;
}
.g-recaptcha > div {
  margin: 0 auto 1rem;
}
@media (max-width: 600px) {
  .g-recaptcha {
    transform: scale(0.75);
  }
}
.alert-success {
  margin-top: 1rem;
}
.form-margin {
  margin: 0 20%;
}
@media (max-width: 961px) {
  .form-margin {
    margin: 0 10%;
  }
}
@media (max-width: 550px) {
  .form-margin {
    margin: 0;
  }
}
@media (max-width: 370px) {
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 370px) {
  a h3 span {
    font-size: 10px!important;
  }
}
.contact ul,
#Footer ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact ul li,
#Footer ul li {
  list-style: none;
  padding: 0;
}
@media (max-width: 767px) {
  .contact ul li a,
  #Footer ul li a,
  .contact ul li span,
  #Footer ul li span {
    text-align: center;
  }
}
@media (max-width: 370px) {
  .contact ul li a,
  #Footer ul li a,
  .contact ul li span,
  #Footer ul li span {
    font-size: 12px;
  }
}
.contactFixed {
  position: fixed;
  bottom: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
}
.contactFixed a {
  margin: 0;
}
.contactFixed a img {
  background: #FF0001;
  padding: 0.1rem;
  width: 20px;
  height: 20px;
}
#Top_bar .menu > li ul {
  background-color: white!important;
}
.offer-list {
  margin: 0!important;
}
.offer-list li {
  position: relative;
  line-height: 1;
  margin-bottom: 9px!important;
  padding: 0 0 0 1rem!important;
  list-style: none!important;
}
.offer-list li a {
  color: white;
  font-weight: 500;
}
.offer-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: transparent url("../images/right-arrow.svg") no-repeat center center;
  background-size: contain;
}
#Top_bar {
  height: 11rem;
  background: white!important;
}
@media (max-width: 1240px) {
  #Top_bar {
    height: 7rem;
  }
}
@media (max-width: 767px) {
  #Top_bar {
    height: 4rem;
  }
}
#Top_bar.is-sticky {
  height: 6rem;
  background: black url("../images/bg.jpg");
}
@media (max-width: 1240px) {
  #Top_bar.is-sticky {
    height: 4rem;
  }
}
#Top_bar.is-sticky .logo {
  height: 6rem;
  padding: 0.5rem 0;
}
@media (max-width: 1240px) {
  #Top_bar.is-sticky .logo {
    height: 6rem;
  }
}
#Top_bar.is-sticky .menu_wrapper {
  height: 6rem;
}
#Top_bar .menu > li ul {
  background-color: black;
}
#Top_bar .menu > li ul li {
  width: 300px;
}
#Top_bar .menu > li ul li::before {
  display: none;
}
#Top_bar .menu > li ul li a {
  color: black;
  font-weight: 600;
}
#Top_bar .menu > li ul li a:hover {
  color: black;
}
#Side_slide #menu ul li ul li {
  padding-left: 0!important;
}
#Side_slide #menu ul li ul li:before {
  display: none;
}
@media (max-width: 800px) {
  .next,
  .prev {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 650px) {
  .next,
  .prev {
    width: 30px;
    height: 30px;
  }
}
table tr:first-child td {
  background: #ababab !important;
}
@media (max-width: 767px) {
  table tr td:first-child {
    background: #c7c7c7 !important;
  }
}
table tr:nth-child(2n) td {
  background: #f3f3f3;
}
@media (max-width: 767px) {
  .table table tr,
  .table table td,
  .table table strong,
  .table table p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 567px) {
  .table table tr,
  .table table td,
  .table table strong,
  .table table p {
    font-size: 0.6rem !important;
  }
}
@media (max-width: 767px) {
  .table table tr,
  .table table td {
    min-width: 95px!important;
    padding: 4px!important;
  }
}
@media (max-width: 567px) {
  .table table tr,
  .table table td {
    min-width: 80px!important;
  }
}
h3.item-contact {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  h3.item-contact {
    font-size: 1.7rem;
  }
}
@media (max-width: 420px) {
  h3.item-contact {
    font-size: 1.5rem;
  }
}
h3.item-contact.-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  h3.item-contact.-phone {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  h3.item-contact.-phone {
    font-size: 2.4rem;
  }
}
@media (max-width: 380px) {
  h3.item-contact.-phone {
    font-size: 2.2rem;
  }
}
h3.item-contact.-phone svg {
  margin-bottom: -0.4rem;
}
@media (max-width: 767px) {
  h3.item-contact.-phone svg {
    margin-bottom: -0.3rem;
  }
}
h3.item-contact.-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  h3.item-contact.-email {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  h3.item-contact.-email {
    font-size: 1rem;
  }
}
h3.item-contact.-email svg {
  font-size: 3rem;
}
@media (max-width: 767px) {
  h3.item-contact.-email svg {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  h3.item-contact.-email svg {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  h3.item-contact.-email svg {
    font-size: 1.3rem;
  }
}
h3.item-contact.-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 576px) {
  h3.item-contact.-location a {
    font-size: 1.2rem;
  }
}
@media (max-width: 380px) {
  h3.item-contact.-location a {
    font-size: 1.3rem;
  }
}
h3.item-contact.-location svg {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  h3.item-contact.-location svg {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  h3.item-contact.-location svg {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  h3.item-contact.-location svg {
    font-size: 1.3rem;
  }
}
.facebook-wrap {
  zoom: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .facebook-wrap {
    margin-bottom: 3rem;
  }
}
@media (max-width: 400px) {
  .facebook-wrap {
    display: block;
  }
}
@media (max-width: 768px) {
  .facebook-wrap .desktop {
    display: none;
  }
}
.facebook-wrap .mobile {
  display: none;
}
@media (max-width: 768px) {
  .facebook-wrap .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.p-no-margin p {
  padding: 0;
}
.contact-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.contact-social a {
  display: block;
  margin: 0 2rem;
}
.contact-social a img {
  width: 3rem;
}
@media (max-width: 767px) {
  .contact-social a img {
    width: 2rem;
  }
}
.desktopFacebook {
  zoom: 1.3;
  position: fixed;
  top: 20%;
  right: -1.1rem;
  z-index: 999;
  display: flex;
  transform: translateX(97%);
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  background: #fff;
  box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.41);
  border-radius: 0.5rem 0 0 0.5rem;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .desktopFacebook {
    display: none;
  }
}
.desktopFacebook.-active {
  transform: translateX(0);
}
.desktopFacebook__title {
  text-align: center;
  padding-right: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #FF0001;
  line-height: 1.05;
}
.desktopFacebook__exit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  padding: 3px 11px;
  background: transparent;
  color: #FF0001;
  border: none;
  margin: 0!important;
  box-shadow: unset!important;
}
.desktopFacebook__exit:focus {
  border: none;
  outline: none;
}
.desktopFacebook__toggle {
  position: absolute;
  right: calc(100% - 112px);
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  transform-origin: 0 0;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2px 20px;
  margin: 0;
}
@media (max-width: 960px) {
  .desktopFacebook__toggle {
    right: calc(100% - 100px);
  }
}
.desktopFacebook__toggle:focus {
  border: none;
  outline: none;
}
.headText {
  line-height: 1.1;
  font-size: 40px;
  font-style: normal;
}
@media (max-width: 1240px) {
  .headText {
    font-size: 33px;
  }
}
@media (max-width: 960px) {
  .headText {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .headText {
    font-size: 27px;
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {
  .headText {
    font-size: 26px;
  }
}
@media (max-width: 400px) {
  .headText {
    font-size: 23px;
  }
}
@media (max-width: 350px) {
  .headText {
    font-size: 20px;
  }
}
.headText span {
  display: block;
}
.about-text {
  color: black;
  text-align: center;
  font-weight: 600;
  width: 80%;
  margin: 0 auto 2rem;
  font-size: 1.2rem;
}
@media (max-width: 1240px) {
  .about-text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about-text {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .about-text {
    font-size: 15px;
  }
}
.about-head {
  display: block;
  text-align: center;
  color: #FF0001;
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  margin: 0 auto 0.5rem;
  letter-spacing: 1px;
}
@media (max-width: 1240px) {
  .about-head {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .about-head {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .about-head {
    font-size: 18px;
  }
}
.about-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 767px) {
  .np-mobile {
    padding: 0!important;
  }
  .np-mobile .scale-with-grid {
    display: block;
    margin: 0 auto;
  }
  .np-mobile h6,
  .np-mobile p {
    text-align: center;
    margin-bottom: 0;
  }
  .np-mobile .no_line {
    margin: 0 auto 10px!important;
  }
}
@media (max-width: 767px) {
  .products-title {
    text-align: center;
    display: block;
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .products-title {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .icon-social {
    background-size: 50px!important;
    padding: 15px 0 15px 90px!important;
    background-position: 15px 20px!important;
  }
}
@media (max-width: 767px) {
  .home-details-wrap {
    padding: 0!important;
  }
}
@media (max-width: 767px) {
  .center-mobile {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px!important;
    line-height: 30px!important;
  }
}
@media (max-width: 767px) {
  .offer-wrap {
    padding-top: 50px!important;
    padding-bottom: 15px!important;
  }
}
.offer-main-text h2 {
  font-size: 22px!important;
  line-height: 1.15 !important;
  margin-bottom: 3px;
  margin-top: 1rem;
}
.no-padding-mobile {
  padding-left: 0!important;
  padding-right: 0!important;
}
@media (max-width: 767px) {
  .priceText h2 {
    font-size: 28px!important;
    line-height: 1.1 !important;
  }
}
@media (max-width: 576px) {
  .priceText h2 {
    font-size: 23px!important;
  }
}
@media (max-width: 767px) {
  .priceText p,
  .priceText p strong {
    padding-left: 0!important;
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .priceText p,
  .priceText p strong {
    font-size: 0.85rem;
  }
}
@media (max-width: 767px) {
  .priceText .table table tbody tr,
  .priceText .table table tbody td,
  .priceText .table table tbody strong,
  .priceText .table table tbody p {
    font-size: 0.7rem !important;
  }
}
@media (max-width: 567px) {
  .priceText .table table tbody tr,
  .priceText .table table tbody td,
  .priceText .table table tbody strong,
  .priceText .table table tbody p {
    font-size: 0.6rem !important;
  }
}
@media (max-width: 767px) {
  .priceText .table table tbody tr,
  .priceText .table table tbody td {
    min-width: 95px!important;
    padding: 4px!important;
  }
}
@media (max-width: 567px) {
  .priceText .table table tbody tr,
  .priceText .table table tbody td {
    min-width: 80px!important;
  }
}
.contact-wrap {
  padding-bottom: 0!important;
}
.navIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navIcon:hover .navIcon__icon {
  transform: scale(1.1);
}
.navIcon:hover .navIcon__title {
  transform: translateY(50%);
  color: #FF0001;
}
.navIcon__icon {
  width: 100px;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .navIcon__icon {
    width: 75px;
  }
}
.navIcon__title {
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .navIcon__title {
    font-size: 1rem;
  }
}
.navIconsWrapper {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .navIconsWrapper .section_wrapper.mcb-section-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}
.offerCategoryOtherTitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-style: normal;
}
@media (max-width: 767px) {
  .offerCategoryOtherTitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .offerCategoryOtherTitle {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
}
.offerCategoryOthers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.offerCategoryOthers__imageWrap {
  overflow: hidden;
  border-radius: 1rem;
}
.offerCategoryOthers__item {
  width: 25%;
  display: block;
  padding: 0 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .offerCategoryOthers__item {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .offerCategoryOthers__item {
    width: 50%;
  }
}
.offerCategoryOthers__item:hover img {
  transform: scale(1.2);
}
.offerCategoryOthers__item img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.offerCategoryOthers__item span {
  color: black;
  display: block;
  text-align: center;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 1rem;
}
@media (max-width: 567px) {
  .offerCategoryOthers__item span {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .minimalist-header-no #Subheader {
    padding: 140px 0 20px!important;
  }
}
.header-transparent #Top_bar .menu > li > a span {
  color: black;
}
.ytVideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.ytVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*# sourceMappingURL=newCustom.css.map */